
#header {
  margin-right: -15px;
  margin-left: -15px;
  color: #902d26;
}

#header img {
  opacity: 0.5;
}

#header #name {
  position: absolute;
  top: 220px;
  left: 0;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

#header #name p:first-child {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 45px;
  color: #902d26;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid;
  border-left: none;
}

#header #name p:last-child {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #902d26;
}


#profile {
  padding: 20px 200px;
  color: #902d26;
}

#profile img {
  max-width: 165px;
  margin-top: 60px;
  margin-bottom: 10px
}

#profile #contact a {
  color: #902d26;
}

#portfolio {
  background-color: #f3e7e6;
  padding: 20px 200px;
  color: #902d26;

}


#skills {
    color: #902d26;
}

#experience {
  background-color: #f3e7e6;
  color: #902d26;

}

#education {
    color: #902d26;

}

#footer {
  background-color: #f3e7e6;
  color: #902d26;

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 992px) {

  #header #name {
    top: 150px;
  }

  #contact {
    text-align: center;
  }

}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {

  #header #name {
    top: 40px;
  }

  #profile, #portfolio {
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }

  #profile img {
    margin-top: 20px;
  }

  #contact {
    margin-top: 40px;
  }

}
