.navbar-inverse > .container-fluid {
  background-color: #a4524c;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  color: #f3e7e6 !important;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover {
  color: #ffffff !important;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #f3e7e6 !important;
  color: #902d26 !important;
}

#header {
  margin-right: -15px;
  margin-left: -15px;
  color: #902d26;
}

#header #photo-background {
  position: fixed;
  z-index: 1;
  opacity: 0.5;
}

#header #photo-transparency {
  position: relative;
  z-index: 2;
  opacity: 0;
}

#header #name {
  position: absolute;
  top: 260px;
  left: 0;
  z-index: 3;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

#header #name p:first-child {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 45px;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid;
  border-left: none;
}

#header #name p:last-child {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

#profile, #portfolio, #skills, #experience, #education, #footer {
  position: relative;
  z-index: 3;
  opacity: 1;
  padding: 50px 200px;
  color: #902d26;
}

#profile, #skills, #education {
  background-color: #ffffff;
}

#portfolio, #experience, #footer {
  background-color: #f3e7e6;
}

#profile img {
  max-width: 165px;
  margin-top: 40px;
  margin-bottom: 10px
}

#profile a {
  color: #902d26;
}

.carousel {
  width: 90%;
  margin: auto;
}

.portfolio-description {
  background-color: #902d26;
  color: #ffffff;
  padding: 5px 20px;
  opacity: 0.8;
  text-align: center;
  min-height: 150px;
}

#education .row {
  margin-top: 15px;
  margin-bottom: 15px;
}

#footer {
  padding: 30px 200px;
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 992px) {

  #header #name {
    top: 190px;
  }

  #contact {
    text-align: center;
    margin-top: 40px;
  }

  .carousel {
    width: 100%;
  }

  #profile, #portfolio, #skills, #experience, #education {
    padding: 50px 100px;
  }

  .portfolio-description p {
    font-size: 0.9em;
  }

  #footer {
    padding: 20px 100px;
  }

}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {

  #header #name {
    top: 70px;
  }

  #profile, #portfolio, #skills, #experience, #education {
    padding: 50px 10px;
  }

  #profile img {
    margin-top: 20px;
  }

  #contact {
    margin-top: 40px;
  }

  .carousel {
    width: 100%;
  }

  .portfolio-description p {
    font-size: 0.9em;
  }

  #footer {
    padding: 20px 10px;
  }

  #footer p {
    text-align: center;
    margin: 10px;
  }

}
